body{
    background-color: rgb(154, 156, 175);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.formulario{
    width: 540px;
    margin: 10% auto 0 auto;
    background-color: lightblue;
    box-sizing: border-box;
    box-shadow: rgba(57, 112, 131, 0.726) 3px 3px 4px;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
}
label{
    font-size: 1.25em;
    display: block;
}
input[type=submit]{
    width:350px;
    margin: 0 auto;
    display: block;
    transition: all 1s;
}
input{
    font-size: 1.2em;
    width: 400px;
    margin-bottom: 1em;
    border: black solid 1px;
    padding: 0.5em;
    border-radius: 1em;
}
input[type=submit]:hover{
    background-color: blueviolet;
}

/*concluido page*/

h2{
    text-align: center;
}
button{
    border-radius: 2em;
    width: 150px;
    height: 50px;
    background-color:lightblue;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    box-shadow: rgba(57, 112, 131, 0.726) 3px 3px 4px;
    border: black solid 1px;
    transition: all 1s;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}
button:hover{
    background-color: blueviolet;
}